<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>BoolZapp</title>
</head>
<body>
    <header>

    </header>
    <main>

        <div class="container" id="root">

            <aside class="sidebar">
                <div class="sidebar-top">
                    <div class="sidebar-top-left">
                        <img src="img/avatar_io.jpg" alt="immagine profilo utente">
                        <h5>Nome Utente</h5>
                    </div>
                    <div class="sidebar-top-right">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-regular fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <div class="sidebar-bottom">
                    <div class="notifiche">
        
                    </div>
                    <div class="search-input-wrapper">
                        <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="search" v-on:keyup="searchChat">
                    </div>
                    <div class="contacts">
                        <ul>
                            <li v-if="contact.visible == true" v-for="(contact, index) in contacts" @click="activeContact(index)" :class="(index == active)?'active':''">
                                <img :src="`img/avatar${contact.avatar}.jpg`" alt="img_profilo">
                                <div class="text">
                                    <h5>{{contact.name}}</h5>
                                    <p class="last-message">{{contact.messages.text}}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>
        
            <section class="main">
                <div class="main-top">
                    <div class="main-top-left">
                        <img :src="`img/avatar${contacts[active].avatar}.jpg`" alt="immagine profilo">
                        <div>
                            <h5>{{contacts[active].name}}</h5>
                            <p class="last-access">Ultimo accesso oggi </p>
                        </div>
                    </div>
                    <div class="main-top-right">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <div class="main-middle">
                    <div v-for="message in contacts[active].messages" :class="message.status" class="message">
                        {{message.text}}
                        <div class="sentDate">{{message.date}}</div>
                    </div>
                    <!--
                        <div class="message-sent">
                            <p>ciao</p>
                        </div>
                        <div class="message-received">
                            <p>ciao a te</p>
                        </div>
                    -->
                </div>
                <div class="main-bottom">
                    <div class="icons">
                        <i class="fa-regular fa-face-smile"></i>
                    </div>
                    <input type="text" placeholder="Scrivi un messaggio" v-model="newMessage" @keyup.enter="sendMessage">
                    <div class="icons">
                        <i class="fa-solid fa-microphone"></i>
                    </div>
                </div>
            </section>
            
        </div>

    </main>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script>dayjs().format()</script>

</body>
</html>